<!-- http://naradesign.net/open_content/reference/Table&CSSLayout/CSSLayout.html -->
<div class="bodyDivC">
  <div class="westMenuDivC">
    <h3>2Depth Title </h3>
    <ul>
      <li><div>Menu1</div></li>
      <li>Menu2</li>
      <li>Menu3</li>
      <li>Menu4</li>
      <li>Menu5</li>
    </ul>
  </div>
  <div class="centerContentC">
    <h3>3Depth Title </h3>
    <div> Content </div>
  </div>
  <div class="eastMenuDivC">
    <h3>Links</h3>
    <ul>
      <li>Link List 1</li>
      <li>Link List 2</li>
      <li>Link List 3 </li>
    </ul>
  </div>
</div>