<!-- 파일 형식이 UTF-8인지 꼭 확인 -->
<!--div>
	<a href="#/pc/private/test/testAccordion">Center에 testAccordion 호출</a>
	<a href="#/pc/private/test/jqGrid">jqGrid 호출</a>
	<a href="#/pc/private/map/naverMap">NaverMap v2 호출</a>	
</div-->
<div id="headerPageMainDiv" class="headerPageMainC">
    <ul class="listSytleTypeNoneC">
      <li class="inlineC"><a href="#/pc/private/adminAuth/adminMapping">[사용자 룰 맵핑]</a></li>
      <li class="inlineC"><a href="#/pc/private/adminAuth/resourceMapping">[룰 URL 리소스 맵핑]</a></li>
      <li class="inlineC"><a href="#/pc/private/adminAuth/ruleManager">[룰 관리]</a></li>
      <li class="inlineC"><a href="#/pc/private/adminAuth/resourceManager">[URL 리소스 관리]</a></li>
    </ul>  
</div>